*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background: linear-gradient(45deg, #c2185b, #f44336);
}